body, html {
    margin: 0;
    padding: 0;
}

.nav-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
}

.nav {
    width: 200px;
    max-height: 100%;
    background-color: #111;
    color: aliceblue;
    padding: 20px;
}

.nav-body {
    flex-grow: 1;
    /* padding: 40px; */
    background-color: #333;
    /* overflow: hidden; */
}

.canvas {
    width: 100%;
}

.info {
    pointer-events: auto;
    position: relative;

    padding: 5px;
    background-color: aquamarine;
}

#settings {
    width: 400px;
    max-height: 100vh;
    overflow-y: auto;
}

.planets > .input > .array > p {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.vec3 > .input {
    display: flex;
    justify-content: space-evenly;
}

.vec3 > .input > .slider {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.vec3 > .input > .slider > input {
    width: 70px;
}

.settings > p {
    font-weight: bold;
}

.text_field, .check {
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.planet + .planet {
    border-top: solid;
}

.planet {
    padding: 5px;
}

.planet > .input > .entity > p {
    display: none;
}

.text_field {
    justify-content: space-between;
    width: 100%;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    background-color: transparent;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 24px;
    width: 10px;
    border-radius: 2px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
  input[type=range]::-moz-range-track {
    height: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 24px;
    width: 10px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
